// HTTP 401 (Unauthorized) page.
//
// Prefixing filename with '_' in order to avoid issue with hooking styling into
// '.jsx' file. This may have something to do with partial SCSS files:
// https://stackoverflow.com/a/31319300/1497211

@import 'misc/solarized.scss';

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    // Compatibility styling for browsers that don't support 'vh'.
    //
    // NOTE: Apparently, 'min-height: 100%' needs to be placed right next to
    // 'min-height: 100vh' in order for both properties to be recognized as one.
    min-height: 100%;
    min-height: 100vh;
}

.row {
    background-color: red;
}

.col {
    background-color: turquoise;
    text-align: center;
}
